<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Puntos de Interes
      <ion-icon name="log-out-outline" style='margin-left: 120px' (click)="salir()">Cerrar Sesión</ion-icon>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-card *ngFor="let lugares of arrayLugares" style="opacity: 90%; background-color: black;">
    <ion-card-header>
      Usuario: {{lugares.data.nombreUsuario}}
    </ion-card-header>
    <ion-label style="margin-left: 10px;">  Lugar: {{lugares.data.nombreLugar}}</ion-label>
  
    <ion-card-content>
      <img [src]="lugares.image" style="height: 200px; width: 200px">
      <ion-item>
        <p>{{lugares.data.descripcion}}</p>
      </ion-item>
      
      
    </ion-card-content>
  </ion-card>
</ion-content>
