ion-content ion-toolbar {
  --background: translucent;
}

.containerImg{
  height: 120%;
  margin-top: 20px;
}

.list{
  margin-top: 35%;
  margin-right: 5%;
  margin-left: 5%;
}

.cajaDescripcion{
  height: 90px;
  border: solid 1px black;
  margin-top: 10%;
}


header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:#252932;
	margin-bottom:20px;
}

.campos {
  background-color: black;
  opacity: 90%;
  color: white;
}