<ion-header>

  <ion-toolbar>
    <ion-title class="titulo">
      INFOALM
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item class="campos">
          <ion-label position='floating'>Email</ion-label>
          <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="campos">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-button expand="block" style="margin-top: 30%;" (click)="regis()">Registrarse</ion-button>
  <ion-button expand="block" (click)="inicioSesion()">Iniciar Sesión</ion-button>

</ion-content>
